/* Estilo geral do formulário */
.formularioEstilo {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Grupo de inputs */
grupoInputEstilo {
  margin-bottom: 15px;
}

/* Estilos para os labels */
.grupoInputEstilo label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.radioInputEstilo{
  display: flex;
  align-items: center;
}

.radioInputEstilo label{
  margin-right: 10px;
}

/* Estilo dos inputs */
.inputEstilo {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
}

/* Estilo dos botões de rádio */
.grupoInputEstilo input[type="radio"] {
  margin-right: 5px;
}

/* Estilo do botão de submit */
.botaoEstilo {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botaoEstilo:hover {
  background-color: #0056b3;
}

/* Adicionar espaçamento ao redor do formulário em telas menores */
@media (max-width: 600px) {
  .formularioEstilo {
    padding: 15px;
  }

  .botaoEstilo {
    font-size: 14px;
  }
}